<form
  class="container p-0"
  [formGroup]="form"
  *ngIf="
    {
      currentClient: currentClient$ | async
    };
    let context
  "
>
  <div class="row mb-2">
    <div class="col">
      <h4>Add Client</h4>
    </div>
  </div>
  <div class="row g-3 mb-3">
    <div class="col-4">
      <label class="form-label" [for]="E_CLIENT_KEYS.PASSPORT_NUMBER">
        Passport Number
      </label>
      <input
        type="text"
        class="form-control"
        [name]="E_CLIENT_KEYS.PASSPORT_NUMBER"
        [id]="E_CLIENT_KEYS.PASSPORT_NUMBER"
        [formControlName]="E_CLIENT_KEYS.PASSPORT_NUMBER"
        [class.is-invalid]="
          form.get(E_CLIENT_KEYS.PASSPORT_NUMBER)?.invalid &&
          form.get(E_CLIENT_KEYS.PASSPORT_NUMBER)?.touched
        "
        [readonly]="!!context.currentClient"
      />
      <div class="invalid-feedback">
        {{
          form.get(E_CLIENT_KEYS.PASSPORT_NUMBER)?.errors || null
            | errorFormatter : "Passport Number"
        }}
      </div>
    </div>
    <div class="col-4">
      <label class="form-label" [for]="E_CLIENT_KEYS.FIRST_NAME">
        First Name
      </label>
      <input
        type="text"
        class="form-control"
        [id]="E_CLIENT_KEYS.FIRST_NAME"
        [formControlName]="E_CLIENT_KEYS.FIRST_NAME"
        [class.is-invalid]="
          form.get(E_CLIENT_KEYS.FIRST_NAME)?.invalid &&
          form.get(E_CLIENT_KEYS.FIRST_NAME)?.touched
        "
        autocomplete="given-name"
      />
      <div class="invalid-feedback">
        {{
          form.get(E_CLIENT_KEYS.FIRST_NAME)?.errors || null
            | errorFormatter : "First Name"
        }}
      </div>
    </div>
    <div class="col-4">
      <label class="form-label" [for]="E_CLIENT_KEYS.LAST_NAME">
        Last Name
      </label>
      <input
        type="text"
        class="form-control"
        [id]="E_CLIENT_KEYS.LAST_NAME"
        [formControlName]="E_CLIENT_KEYS.LAST_NAME"
        [class.is-invalid]="
          form.get(E_CLIENT_KEYS.LAST_NAME)?.invalid &&
          form.get(E_CLIENT_KEYS.LAST_NAME)?.touched
        "
        autocomplete="family-name"
      />
      <div class="invalid-feedback">
        {{
          form.get(E_CLIENT_KEYS.LAST_NAME)?.errors || null
            | errorFormatter : "Last Name"
        }}
      </div>
    </div>
    <div class="col-4">
      <label class="form-label" [for]="E_CLIENT_KEYS.BIRTH_DATE">
        Birth Date
      </label>
      <input
        type="date"
        class="form-control"
        [id]="E_CLIENT_KEYS.BIRTH_DATE"
        [formControlName]="E_CLIENT_KEYS.BIRTH_DATE"
        [class.is-invalid]="
          form.get(E_CLIENT_KEYS.BIRTH_DATE)?.invalid &&
          form.get(E_CLIENT_KEYS.BIRTH_DATE)?.touched
        "
        autocomplete="bday"
      />
      <div class="invalid-feedback">
        {{
          form.get(E_CLIENT_KEYS.BIRTH_DATE)?.errors || null
            | errorFormatter : "Birth Date"
        }}
      </div>
    </div>
    <div class="col-4">
      <label class="form-label" [for]="E_CLIENT_KEYS.EMAIL"> Email </label>
      <input
        type="text"
        class="form-control"
        [id]="E_CLIENT_KEYS.EMAIL"
        [formControlName]="E_CLIENT_KEYS.EMAIL"
        [class.is-invalid]="
          form.get(E_CLIENT_KEYS.EMAIL)?.invalid &&
          form.get(E_CLIENT_KEYS.EMAIL)?.touched
        "
        autocomplete="email"
      />
      <div class="invalid-feedback">
        {{
          form.get(E_CLIENT_KEYS.EMAIL)?.errors || null
            | errorFormatter : "Email"
        }}
      </div>
    </div>
    <div class="col-4">
      <label class="form-label" [for]="E_CLIENT_KEYS.PHONE_NUMBER">
        Phone
      </label>
      <input
        type="text"
        class="form-control"
        [id]="E_CLIENT_KEYS.PHONE_NUMBER"
        [formControlName]="E_CLIENT_KEYS.PHONE_NUMBER"
        [class.is-invalid]="
          form.get(E_CLIENT_KEYS.PHONE_NUMBER)?.invalid &&
          form.get(E_CLIENT_KEYS.PHONE_NUMBER)?.touched
        "
        autocomplete="tel"
      />
      <div class="invalid-feedback">
        {{
          form.get(E_CLIENT_KEYS.PHONE_NUMBER)?.errors || null
            | errorFormatter : "Phone"
        }}
      </div>
    </div>
    <div class="col-6">
      <label class="form-label" [for]="E_CLIENT_KEYS.PERMANENT_RESIDENCE">
        Permanent Residence
      </label>
      <textarea
        class="form-control"
        [id]="E_CLIENT_KEYS.PERMANENT_RESIDENCE"
        [formControlName]="E_CLIENT_KEYS.PERMANENT_RESIDENCE"
        [class.is-invalid]="
          form.get(E_CLIENT_KEYS.PERMANENT_RESIDENCE)?.invalid &&
          form.get(E_CLIENT_KEYS.PERMANENT_RESIDENCE)?.touched
        "
        autocomplete="address"
      ></textarea>
      <div class="invalid-feedback">
        {{
          form.get(E_CLIENT_KEYS.PERMANENT_RESIDENCE)?.errors || null
            | errorFormatter : "Permanent Residence"
        }}
      </div>
    </div>
    <div class="col-6">
      <label class="form-label" [for]="E_CLIENT_KEYS.TEMPORARY_RESIDENCE">
        Temporary Residence
      </label>
      <textarea
        class="form-control"
        [id]="E_CLIENT_KEYS.TEMPORARY_RESIDENCE"
        [formControlName]="E_CLIENT_KEYS.TEMPORARY_RESIDENCE"
        [class.is-invalid]="
          form.get(E_CLIENT_KEYS.TEMPORARY_RESIDENCE)?.invalid &&
          form.get(E_CLIENT_KEYS.TEMPORARY_RESIDENCE)?.touched
        "
        autocomplete="address"
      ></textarea>
      <div class="invalid-feedback">
        {{
          form.get(E_CLIENT_KEYS.TEMPORARY_RESIDENCE)?.errors || null
            | errorFormatter : "Temporary Residence"
        }}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 d-flex justify-content-end">
      <button class="btn btn-primary" type="submit" (click)="handle()">
        {{ context.currentClient ? "Update" : "Create" }}
      </button>
    </div>
  </div>
</form>
