<div
  class="d-flex flex-column w-100"
  *ngIf="
    {
      client: client$ | async
    };
    let context
  "
>
  <div class="d-flex mb-4 align-items-start justify-content-between">
    <span class="display-6">
      {{ context.client?.[E_CLIENT_KEYS.FIRST_NAME] }}
      {{ context.client?.[E_CLIENT_KEYS.LAST_NAME] }}
      -
      {{ context.client?.[E_CLIENT_KEYS.PASSPORT_NUMBER] }}
    </span>
    <div
      class="btn-group me-3"
      ngbDropdown
      placement="bottom-right"
      #myDrop="ngbDropdown"
    >
      <button type="button" class="btn btn-primary">Edit</button>
      <button
        type="button"
        class="btn btn-primary dropdown-toggle dropdown-toggle-split"
        aria-expanded="false"
        ngbDropdownAnchor
        (focus)="myDrop.open()"
      >
        <span class="visually-hidden">Toggle Dropdown</span>
      </button>
      <div class="dropdown-menu" ngbDropdownMenu>
        <a
          ngbDropdownItem
          routerLink="/reservations/table"
          [queryParams]="{ client: context.client?.[E_CLIENT_KEYS.PASSPORT_NUMBER] }"
        >
          View Reservations
        </a>
        <a
          ngbDropdownItem
          [routerLink]="[
            '/reservations/form?for=',
            context.client?.[E_CLIENT_KEYS.PASSPORT_NUMBER]
          ]"
        >
          Create Reservation
        </a>
        <button ngbDropdownItem>Two</button>
        <button ngbDropdownItem>Four!</button>
      </div>
    </div>
  </div>
  <div class="d-flex flex-column mb-4 w-100">
    <h4 class="mb-3">Personal Information</h4>
    <div class="container-fluid p-0">
      <div class="row g-3">
        <div class="col-4 d-flex flex-column">
          <span class="mb-1 h5">Passport Number</span>
          <span>
            {{ context.client?.[E_CLIENT_KEYS.PASSPORT_NUMBER] }}
          </span>
        </div>
        <div class="col-4 d-flex flex-column">
          <span class="mb-1 h5">First Name</span>
          <span>
            {{ context.client?.[E_CLIENT_KEYS.FIRST_NAME] }}
          </span>
        </div>
        <div class="col-4 d-flex flex-column">
          <span class="mb-1 h5">Last Name</span>
          <span>
            {{ context.client?.[E_CLIENT_KEYS.LAST_NAME] }}
          </span>
        </div>
        <div class="col-3 d-flex flex-column">
          <span class="mb-1 h5">Date of Birth</span>
          <span>
            {{ context.client?.[E_CLIENT_KEYS.BIRTH_DATE] | date: 'dd/MM/yyyy' }}
          </span>
        </div>
        <div class="col-3 d-flex flex-column">
          <span class="mb-1 h5">Email</span>
          <span>
            {{ context.client?.[E_CLIENT_KEYS.EMAIL] }}
          </span>
        </div>
        <div class="col-3 d-flex flex-column">
          <span class="mb-1 h5">Phone</span>
          <span>
            {{ context.client?.[E_CLIENT_KEYS.PHONE_NUMBER] }}
          </span>
        </div>
        <div class="col-3 d-flex flex-column">
          <span class="mb-1 h5">Registration Date</span>
          <span>
            {{ context.client?.[E_CLIENT_KEYS.REGISTRATION_DATE] | date: 'dd/MM/yyyy' }}
          </span>
        </div>
        <div class="col-6 d-flex flex-column">
          <span class="mb-1 h5">Permanent Residence</span>
          <span>
            {{ context.client?.[E_CLIENT_KEYS.PERMANENT_RESIDENCE] }}
          </span>
        </div>
        <div class="col-6 d-flex flex-column">
          <span class="mb-1 h5">Temporary Residence</span>
          <span>
            {{ context.client?.[E_CLIENT_KEYS.TEMPORARY_RESIDENCE] }}
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
