<div
  *ngIf="
    {
      reservations: reservations$ | async
    };
    let context
  "
>
  <h4 class="mb-4">Reservations Table</h4>
  <div class="d-flex mb-4" [formGroup]="form">
    <div class="me-2">
      <label for="client" class="form-label">Client Passport</label>
      <input
        type="text"
        class="form-control"
        id="client"
        formControlName="client"
        appEmptyToNull
      />
    </div>
    <div>
      <label for="suite" class="form-label">Suite Number</label>
      <input
        type="text"
        class="form-control"
        id="suite"
        formControlName="suite"
        appEmptyToNull
      />
    </div>
  </div>
  <div class="table-container" *ngIf="context.reservations">
    <table class="table table-striped">
      <thead>
        <tr>
          <td>Client Passport</td>
          <td>Suite Number</td>
          <td>Arrival Date</td>
          <td>Departure Date</td>
          <td>Sum</td>
          <td>Payment Method</td>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let reservation of context.reservations
              | filterDataByFunc : filterFunc
          "
          role="button"
        >
          <td>
            {{ reservation[E_RESERVATION_KEYS.CLIENT_PASSPORT] }}
            <a
              [routerLink]="[
                '/clients/view',
                reservation[E_RESERVATION_KEYS.CLIENT_PASSPORT]
              ]"
              class="icon-link ms-2"
            >
              <fa-icon [icon]="faArrowUpRightFromSquare" size="xs"></fa-icon>
            </a>
          </td>
          <td>
            {{ reservation[E_RESERVATION_KEYS.SUITE_NUMBER] }}
            <a
              [routerLink]="[
                '/suites',
                reservation[E_RESERVATION_KEYS.SUITE_NUMBER]
              ]"
              class="icon-link ms-2"
            >
              <fa-icon [icon]="faArrowUpRightFromSquare" size="xs"></fa-icon>
            </a>
          </td>
          <td>
            {{ reservation[E_RESERVATION_KEYS.ARRIVAL] | date : "dd/MM/yyyy" }}
          </td>
          <td>
            {{
              reservation[E_RESERVATION_KEYS.DEPARTURE] | date : "dd/MM/yyyy"
            }}
          </td>
          <td>{{ reservation[E_RESERVATION_KEYS.SUM] | currency : "CZK" }}</td>
          <td>{{ reservation[E_RESERVATION_KEYS.PAYMENT_OPTION] }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
