<div class="d-flex flex-column h-100 p-4 drawer border-end">
  <h4>Hotel Management</h4>
  <div class="d-flex flex-column">
    <div class="d-flex flex-column mb-1">
      <a routerLink="/home"> Home </a>
    </div>
    <div class="d-flex flex-column mb-1">
      <a routerLink="/clients"> Clients </a>
      <div class="d-flex flex-column ms-3">
        <a routerLink="/clients/table"> Table </a>
      </div>
    </div>
    <div class="d-flex flex-column mb-1">
      <a routerLink="/reservations"> Reservations </a>
      <div class="d-flex flex-column ms-3">
        <a routerLink="/reservations/table"> Table </a>
        <a routerLink="/reservations/stats"> Statistics </a>
      </div>
    </div>
    <div class="d-flex flex-column mb-1">
      <a routerLink="/suites"> Suites </a>
      <div class="d-flex flex-column ms-3">
        <a routerLink="/suites/table"> Table </a>
        <a routerLink="/suites/types"> Types </a>
        <a routerLink="/suites/capacity"> Capacity </a>
      </div>
    </div>
  </div>
</div>
